@import "../variables/variables";
@import "../mixins/mixins";

.footer {
  background: $backgroundGradient;
  height: 200px;
  width: 100%;
}
.footerGrid {
  display: grid;
  grid-template-areas:
    ". midSection ."
    "bottomSection bottomSection bottomSection";
  grid-row-gap: 5px;
  grid-template-rows: 1fr 1fr;
}

.footerMidSection {
  grid-area: midSection;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerPicture {
  @include footerLogo;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.15);
  }
}

.footerBottomSection {
  grid-area: bottomSection;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $footerText;
}
