@import "../variables/variables";
@import "../mixins/mixins";

.footer {
  background: $backgroundGradient;
  height: 200px;
  width: 100%;
}
.footerGrid {
  display: grid;
  grid-template-areas:
    ". midSection ."
    "bottomSection bottomSection bottomSection";
  grid-row-gap: 50px;
  grid-template-rows: 50% 50%;
}
.footerMidSection {
  grid-area: midSection;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerPicture {
  // max-width: 50px;
  // width: 100%;
  // max-height: 50px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.footerBottomSection {
  grid-area: bottomSection;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
