@import "_normalize";
@import "../variables/variables";
@import "../mixins/mixins";
@import "nav";
@import "footer";



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.main {
  height: 500px;
}
// Your styles goes here:
