@import "../variables/variables";
@import "../mixins/mixins";

#search-bar {
    display: flex;
    justify-content: center;
    align-self: center;
}

#search-area {
    border-radius: 15px;
    border: 2px solid white;
    height: 50px;
    width: 300px;
    padding-left: 10px;
    margin: 0 10px;
    background-color: $inputSearchColor;
    color: white;
}

.search {
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background: rgb(34, 194, 195);
    background: linear-gradient(308deg, rgba(34, 194, 195, 1) 5%, rgba(45, 253, 62, 1) 100%);
    color: white;
    margin: 0 10px;
}

select#search-value {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $inputSearchColor;
    text-align: center;

}